.link {
  @apply mr-10 p-3 text-blue-dark inline-block;
}

.link:focus,
.link:hover {
  @apply text-blue-button;
}

.link-rounded {
  @apply text-white bg-blue-button rounded-full px-4 inline-block;
  padding-top: 8px;
  padding-bottom: 11px;
}

.link-rounded:hover {
  @apply bg-white text-blue-text;
}

.link-rounded--white {
  @apply bg-white text-blue-text;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.link-rounded--white:hover {
  @apply bg-blue-button text-white;
}